<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 01 - Vuejs do jeito ninja</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app">

        <br><br><br>

        <div class="container">
            <h1>{{ titulo }}</h1>

            <!-- O traibuto is pode nomear um componente anônimo tornando ele qualquer outro componente-->
            <component :is="movie"></component>

            <!-- <transformers v-if="movie == 'transformers'"></transformers>
            <game-of-thrones v-if="movie == 'game-of-thrones'"></game-of-thrones> -->

            <!-- Utiliza-se refs para posteriormente capturar o elemento na instância do vue -->
            <ul ref="users">
                <!-- Uss-se key para identificar o objeto -->
                <li v-for="(item, index) in users" :key="item.name">{{ item.name }}
                    <a @click.stop.prevent="remove()" href="#" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <template id="transformers">
        <div>
            <h4>Transformers</h4>
            <ul>
                <li v-for="item in transformers">{{ item.name }}</li>
            </ul>
        </div>
    </template>

    <template id="gameOfThrones">
        <div>
            <h4>Game Of Thrones</h4>
            <ul>
                <li v-for="item in kings">{{ item.name }}</li>
            </ul>
        </div>
    </template>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script>

       Vue.component('transformers', {
           template: '#transformers',
            data() {
                return {
                    transformers: [
                        {name: 'Optmus Prime'},
                        {name: 'Bumble Bee'},
                        {name: 'Megatron'},
                    ]
                }
            }
       });

        Vue.component('game-of-thrones', {
            template: '#gameOfThrones',
            data() {
                return {
                    kings: [
                        {name: 'Jon Snow'},
                        {name: 'Daenerys Targaryen'},
                        {name: 'Tyron'},
                    ]
                }
            }
        });

        var app = new Vue({
            el: "#app",

            mounted() {
                console.log(this.$refs.users);
            },

            data: {
                titulo: "Vuejs do jeito ninja",
                users: [
                    {name: 'Emma'},
                    {name: 'Sophia'},
                    {name: 'Isabela'},
                ],
                movie: 'transformers',
            },

            methods: {
                remove(index){
                    this.users.splice(index, 1);
                }
            }
        });
    </script>
</body>

</html>